/* CSS Document for Screens */
body {
    font-family: "Le Havre Rounded Black", "Le Havre Rounded Black Italic", "Le Havre Rounded Bold", "Le Havre Rounded Bold Italic", "Le Havre Rounded Light", "Le Havre Rounded Light Italic", "Le Havre Rounded Regular", "Le Havre Rounded Regular Italic", "Le Havre Rounded Thin", "Le Havre Rounded Thin Italic";
    font-size: 16px;
    font-weight: 300;
    color: black;
    margin: 0;
    padding: 0;
}
#page{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
/* text */
h1{
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}
h2{
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
}
h3{
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 700;
}
h4{
    margin: 0 0 1.5em 0;
    font-size: 1em;
    font-weight: 700;
}
p{
    margin: 0 0 1em 0;    
}

a{
    color: cornflowerblue;
}
a:visited{
    color: dodgerblue;
}

a.btn{
    font-size: 1.2em;
    text-decoration: none;
    color: aqua;
    border: 1px solid #fff;
    padding: 4px 15px;
    transition: background-color .5s;
    
}
a.btn:hover{
    background-color: rbga(0,0,0,.3);
}

/* header */
header{
    height: 430px;
    background:url("../img/3/apple-icon-144x144.png") no-repeat center bottom;
    position: relative;
}
/*
header a.logo{
    position: absolute;
    display: block;
    width: 160px;
    height: 66px;
    background-size: contain;
    top: 15px;
    left: 20px;
}
header a.logo span{
    display: none;
}
header div.hero{
    position: absolute;
    width: 42%;
    top: 130px;
    left: 55%;
}
header div.hero h1{
    line-height: 1em;
    margin: 0 0 30px 0;
    color: white;

}
*/
section{
    padding: 0 30px;
}
main.main{
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0;

}
aside.content{
    width: 33%;
    float:left;
    text-align: center;
}